html, body{
  background-color: #222 !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
  background-clip: border-box !important;
  background-origin: padding-box !important;
  background-attachment: scroll !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  background-position: left top !important;  margin: 0;
  color: #E0E0E0;
  height: 100%;
}
#service-title {
  color: white;
  text-align: center;
  font-family: 'Gruppo', cursive;
  margin-top: 50px;
  margin-bottom: 10px;
}
.active {
  color: #3EB813;
}
.inactive {
  color: #CB5540;
}
#main {
  color: #ffffff;
  text-align: center;
  font-family: 'Gruppo', cursive;
}

#detail table {
  border-collapse: collapse;
  width: auto;
  margin: auto;
}
#detail table th,
table td {
  padding: 10px;
  border: 1px solid #999;
}
#detail table th {
  text-align: center;
  background-color: rgba(12, 0, 25, 0.3);
}
@media screen and (max-width: 600px) {
  #detail table {
    border-top: 1px solid #999;
  }
  #detail table td {
    display: block;
    text-align: center;
  }
  #detail table th {
    display: block;
    border-top: none;
    border-bottom: none;
    width: auto;
  }
}

#user table {
  border-collapse: collapse;
  width: auto;
  margin: auto;
}
#user table th,
table td {
  padding: 10px;
  border: 1px solid #999;
}
#user table th {
  text-align: center;
  background-color: rgba(12, 0, 25, 0.3);
}

.hr-split {
  border-top: 1px solid #3B86C6;
  margin: 50px auto;
}
.gruppo_style {
  font-family: 'Gruppo', cursive;
  font-size: 120%;
}
#footer_column {
  background-color: rgba(12,0,25,0.1);
  color: #ffffff;
}
.github-fork-ribbon.right-top:before {
  background-color: #333;
}

#copyright {
  font-size: 70%;
  background-color: rgba(12, 0, 25, 0.1);
  margin: 20px 0px 0px 0px;
  text-align: center;
}
